---
import SEO from "../components/SEO.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO {title} {description} />
    <script
      src="https://beamanalytics.b-cdn.net/beam.min.js"
      data-token="941e2350-8b1f-4f87-8b02-53d93290d3dd"
      is:inline
      async></script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
